services:

  mbld-ranks-etl:
    build: ./etl
    restart: always
    env_file: ./etl/.env
    volumes:
      - ./data:/data
    networks:
      - wca-open-db-network

  mbld-ranks-api:
    build:
      context: ./api
      args:
        API_VERSION: ${API_VERSION:-0.0.0}
    restart: always
    env_file: ./api/.env
    ports:
      - "4212:8000"
    volumes:
      - ./data:/data
    networks:
      - mbld-ranks-network

  mbld-ranks-web:
    build: ./web
    restart: always
    env_file: ./web/.env
    ports:
      - "4211:80"
    networks:
      - mbld-ranks-network

  wca-open-db:
    image: ghcr.io/alphasheep/wca-open-db:2
    container_name: wca-open-db
    restart: always
    env_file: .env
    environment:
      - IMPORT_WCA_DB_ON_STARTUP=true  # Optional: import latest WCA DB on startup
    ports:
      - "127.0.0.1:3306:3306"
    volumes:
      - wca-open-db-data:/var/lib/mysql
    networks:
      - wca-open-db-network

volumes:
  wca-open-db-data:

networks:
  mbld-ranks-network:
    driver: bridge
  wca-open-db-network:
    name: wca-open-db-network
