footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #111;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  padding: 0.8em 1em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-top: 1px solid #000;
  font-size: small;

  span {
    margin-right: 0.2em;
    margin-left: 1.8em;
  }

  a {
    text-decoration: none;
    color: #eee;

    transition: all 0.3s ease;

    &:hover {
      color: #fa3;
    }
  }
}