@import (less) '../variables.less';

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: @header-background-color;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  padding: 0.8em 1em;
  box-shadow: 0 -2px 4px @header-border-color;
  border-top: 1px solid @header-border-color;
  font-size: small;

  span {
    margin-right: 0.2em;
    margin-left: 1.8em;
  }

  a {
    text-decoration: none;
    color: @header-text-color;

    transition: all 0.3s ease;

    &:hover {
      color: @link-hover-color;
    }
  }
}