@import (less) '../variables.less';

nav {
  background-color: @header-background-color;
  padding: 0;
  margin: 0;
  margin-bottom: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px @header-border-color;
  font-size: larger;

  ul {
    list-style: none;
    padding: 0.5em 1em;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;

    li {
      margin: 0 0.5em;

      a {
        text-decoration: none;
        text-shadow: 0 1px 2px black;

        color: @header-text-color;

        transition: all 0.3s ease;

        &:hover {
          color: @link-hover-color;
        }
      }

      .tooltip {
        display: none;
      }

      &:hover .tooltip {
        display: block;
        position: absolute;
        text-align: center;
        background-color: @tooltip-background-color;
        color: @tooltip-text-color;
        font-size: 0.85em;
        padding: 0.5em;
        border-radius: 0.5em;
        border: 1px solid @tooltip-border-color;
        transform: translateX(-50%);
      }
    }
  }



}