@import (less) '../variables.less';

.table-container {

  .individual-results-list {

    div {
      color: @text-color-muted;
      font-style: italic;
      padding: 0;
      padding-bottom: 0.25em;
    }
  }
}